/*------------------------------ right click option block ------------------------------*/
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*------------------------------ right click option block ------------------------------*/


#tickerContainer{float:left; width:100%; padding:2%; /*border:1px #d08c0d solid; padding:0 5px;*/}

#ticker {
width:100%;
height:270px;
overflow:auto;
margin:0px 0px;
}
#ticker dt {

padding:0 0px 5px 0px;
/*background-color:#e5e5e5;*/
padding-top:10px;
border-top:1px solid #ffffff;
border-bottom:1px solid #ffffff;
border-bottom:none;
border-right:none;
position:relative;
font-size:14px;
/*font-family:Calibri;*/ color:#0295cb; font-weight:normal; text-align:left;
}
#ticker dd {
margin-left:0;
padding:0px 0px 8px 0px;
border-bottom:1px solid #d5d5d5;
/*font-family:Calibri;*/
/*background-color:#e5e5e5;*/
/*border-left:1px solid #ffffff;*/
position:relative;
font-size:13px; line-height:24px; color:#6d6d6d; text-align:justify;
background-image:url(../images/bullet.png); background-position:left 11px; background-repeat:no-repeat;
}
#ticker dd.last {
border-bottom:1px solid #ffffff;
}
#ticker div { margin-top:0;
}













